.DS_Store
src/SmartJournal/SmartJournal.xcodeproj/xcuserdata/
src/SmartJournal/SmartJournal.xcodeproj/project.xcworkspace/xcuserdata/
src/SmartJournal/SmartJournal.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
